.form-wrapper {
    display: flex;
    align-content: center;

    flex-direction: column;
    padding: 60px 40px 40px 40px;
    width: 600px;
    gap: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.MuiFormLabel-root {
    text-align: left;
    display: block;
    margin-bottom: 4px;
    font-weight: 500;
}

.MuiMenuItem-root {
  text-align: left;
  justify-content: flex-start;
}

.login-form-container {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-direction: column;
    background-color: #ffff !important;


}

.input-field {
    background-color: #ffff !important;
    margin-left: 0%;
    width: 100%;


}