.add-device-form-wrapper{
  margin-top: 80px;
  width: 800;
}
.form-container{
    margin: 20% 20% 20% 20%;
    background-color: aquamarine;
}
.MuiFormLabel-root {
font-weight: bold !important;
color: rgb(14, 83, 83) !important;

}
.MuiSelect-filled {
  text-align: left;
}
.MuiSelect-select {
  padding-left: 12px; 
  text-align: left;
}
Button{
  background-color: rgb(14, 83, 83) !important;
}