.add-device-form-wrapper{
  margin-top: 80px;
  width: 800;
}
.form-container{
    margin: 20% 20% 20% 20%;
    background-color: aquamarine;
}
.MuiFormLabel-root {
font-weight: bold !important;
color: #0f5c53 !important;

}
.MuiSelect-filled {
  text-align: left;
}
.MuiSelect-select {
  padding-left: 12px; 
  text-align: left;
}
Button:hover{
  background-color:  #14B8A6 !important;
}
.default-button{
  background-color:  #0D9488 !important;
}